In [1]:
rdd = sc.parallelize(range(100))

Waiting for a Spark session to start...
Spark Initialization Done! ApplicationId = app-20200414162947-0000
KERNEL_ID = 499f2161-4f30-401c-8494-9be16614978b

In [2]:
print("hello")

hello

In [3]:
rdd.count()

100

In [4]:
rdd.take(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
rdd.map(lambda x:x+1).take(10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
sc.parallelize(range(1,101)).reduce(lambda a,b: a+b)

5050

In [7]:
from pyspark.sql import Row

In [8]:
df = spark.createDataFrame([Row(id=1,value='David'), Row(id=2,value='Nathan')])
df.show()

+---+------+
| id| value|
+---+------+
|  1| David|
|  2|Nathan|
+---+------+

In [9]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- value: string (nullable = true)

In [10]:
df.createOrReplaceTempView('df_view')
df_result = spark.sql('select value from df_view where id=2')
df_result.show()

+------+
| value|
+------+
|Nathan|
+------+

In [11]:
df_result.first().value #get result as string

'Nathan'

In [12]:
from pyspark import SQLContext

In [13]:
!wget -O auto.csv https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DA0101EN/auto.csv

--2020-04-14 16:30:15--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DA0101EN/auto.csv
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 24916 (24K) [text/csv]
Saving to: 'auto.csv'

100%[======================================>] 24,916      --.-K/s   in 0.002s

2020-04-14 16:30:15 (13.1 MB/s) - 'auto.csv' saved [24916/24916]

In [14]:
df = spark.read.format("csv").option("header","true").load('auto.csv')

In [15]:
df.show()

+---+---+-----------+---+-----+----+-----------+---+-----+-----+-----+----+----+----+----+-----+---+----+----+----+----+---+----+---+---+-----+
|  3|  ?|alfa-romero|gas|  std| two|convertible|rwd|front| 88.6|168.8|64.1|48.8|2548|dohc| four|130|mpfi|3.47|2.68| 9.0|111|5000| 21| 27|13495|
+---+---+-----------+---+-----+----+-----------+---+-----+-----+-----+----+----+----+----+-----+---+----+----+----+----+---+----+---+---+-----+
|  3|  ?|alfa-romero|gas|  std| two|convertible|rwd|front| 88.6|168.8|64.1|48.8|2548|dohc| four|130|mpfi|3.47|2.68| 9.0|111|5000| 21| 27|16500|
|  1|  ?|alfa-romero|gas|  std| two|  hatchback|rwd|front| 94.5|171.2|65.5|52.4|2823|ohcv|  six|152|mpfi|2.68|3.47| 9.0|154|5000| 19| 26|16500|
|  2|164|       audi|gas|  std|four|      sedan|fwd|front| 99.8|176.6|66.2|54.3|2337| ohc| four|109|mpfi|3.19|3.40|10.0|102|5500| 24| 30|13950|
|  2|164|       audi|gas|  std|four|      sedan|4wd|front| 99.4|176.6|66.4|54.3|2824| ohc| five|136|mpfi|3.19|3.40| 8.0|115|5500| 18| 22|17450|
|  2|  ?|       audi|gas|  std| two|      sedan|fwd|front| 99.8|177.3|66.3|53.1|2507| ohc| five|136|mpfi|3.19|3.40| 8.5|110|5500| 19| 25|15250|
|  1|158|       audi|gas|  std|four|      sedan|fwd|front|105.8|192.7|71.4|55.7|2844| ohc| five|136|mpfi|3.19|3.40| 8.5|110|5500| 19| 25|17710|
|  1|  ?|       audi|gas|  std|four|      wagon|fwd|front|105.8|192.7|71.4|55.7|2954| ohc| five|136|mpfi|3.19|3.40| 8.5|110|5500| 19| 25|18920|
|  1|158|       audi|gas|turbo|four|      sedan|fwd|front|105.8|192.7|71.4|55.9|3086| ohc| five|131|mpfi|3.13|3.40| 8.3|140|5500| 17| 20|23875|
|  0|  ?|       audi|gas|turbo| two|  hatchback|4wd|front| 99.5|178.2|67.9|52.0|3053| ohc| five|131|mpfi|3.13|3.40| 7.0|160|5500| 16| 22|    ?|
|  2|192|        bmw|gas|  std| two|      sedan|rwd|front|101.2|176.8|64.8|54.3|2395| ohc| four|108|mpfi|3.50|2.80| 8.8|101|5800| 23| 29|16430|
|  0|192|        bmw|gas|  std|four|      sedan|rwd|front|101.2|176.8|64.8|54.3|2395| ohc| four|108|mpfi|3.50|2.80| 8.8|101|5800| 23| 29|16925|
|  0|188|        bmw|gas|  std| two|      sedan|rwd|front|101.2|176.8|64.8|54.3|2710| ohc|  six|164|mpfi|3.31|3.19| 9.0|121|4250| 21| 28|20970|
|  0|188|        bmw|gas|  std|four|      sedan|rwd|front|101.2|176.8|64.8|54.3|2765| ohc|  six|164|mpfi|3.31|3.19| 9.0|121|4250| 21| 28|21105|
|  1|  ?|        bmw|gas|  std|four|      sedan|rwd|front|103.5|189.0|66.9|55.7|3055| ohc|  six|164|mpfi|3.31|3.19| 9.0|121|4250| 20| 25|24565|
|  0|  ?|        bmw|gas|  std|four|      sedan|rwd|front|103.5|189.0|66.9|55.7|3230| ohc|  six|209|mpfi|3.62|3.39| 8.0|182|5400| 16| 22|30760|
|  0|  ?|        bmw|gas|  std| two|      sedan|rwd|front|103.5|193.8|67.9|53.7|3380| ohc|  six|209|mpfi|3.62|3.39| 8.0|182|5400| 16| 22|41315|
|  0|  ?|        bmw|gas|  std|four|      sedan|rwd|front|110.0|197.0|70.9|56.3|3505| ohc|  six|209|mpfi|3.62|3.39| 8.0|182|5400| 15| 20|36880|
|  2|121|  chevrolet|gas|  std| two|  hatchback|fwd|front| 88.4|141.1|60.3|53.2|1488|   l|three| 61|2bbl|2.91|3.03| 9.5| 48|5100| 47| 53| 5151|
|  1| 98|  chevrolet|gas|  std| two|  hatchback|fwd|front| 94.5|155.9|63.6|52.0|1874| ohc| four| 90|2bbl|3.03|3.11| 9.6| 70|5400| 38| 43| 6295|
|  0| 81|  chevrolet|gas|  std|four|      sedan|fwd|front| 94.5|158.8|63.6|52.0|1909| ohc| four| 90|2bbl|3.03|3.11| 9.6| 70|5400| 38| 43| 6575|
+---+---+-----------+---+-----+----+-----------+---+-----+-----+-----+----+----+----+----+-----+---+----+----+----+----+---+----+---+---+-----+
only showing top 20 rows

In [16]:
#calculating mean values 
sum = rdd.sum()
n = rdd.count()
mean = sum/n
mean

49.5

In [17]:
#standard deviation
sd = rdd.stdev()
sd

28.86607004772212

In [18]:

!wget https://github.com/IBM/coursera/blob/master/coursera_ds/washing.parquet?raw=true
!mv washing.parquet?raw=true washing.parquet

--2020-04-14 16:30:22--  https://github.com/IBM/coursera/blob/master/coursera_ds/washing.parquet?raw=true
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://github.com/IBM/skillsnetwork/blob/master/coursera_ds/washing.parquet?raw=true [following]
--2020-04-14 16:30:27--  https://github.com/IBM/skillsnetwork/blob/master/coursera_ds/washing.parquet?raw=true
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/IBM/skillsnetwork/raw/master/coursera_ds/washing.parquet [following]
--2020-04-14 16:30:27--  https://github.com/IBM/skillsnetwork/raw/master/coursera_ds/washing.parquet
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/IBM/skillsnetwork/master/coursera_ds/washing.parquet [following]
--2020-04-14 16:30:27--  https://raw.githubusercontent.com/IBM/skillsnetwork/master/coursera_ds/washing.parquet
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 199.232.8.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|199.232.8.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 112048 (109K) [application/octet-stream]
Saving to: 'washing.parquet?raw=true'

100%[======================================>] 112,048     --.-K/s   in 0.004s

2020-04-14 16:30:27 (24.0 MB/s) - 'washing.parquet?raw=true' saved [112048/112048]

In [19]:
df = spark.read.parquet('washing.parquet')

In [20]:
df.count()

2058

In [21]:
df.createOrReplaceTempView("washing")
spark.sql("SELECT * FROM washing").show()

+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
|                 _id|                _rev|count|flowrate|fluidlevel|frequency|hardness|speed|temperature|           ts|voltage|
+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
|0d86485d0f88d1f9d...|1-57940679fb8a713...|    4|      11|acceptable|     null|      77| null|        100|1547808723923|   null|
|0d86485d0f88d1f9d...|1-15ff3a0b304d789...|    2|    null|      null|     null|    null| 1046|       null|1547808729917|   null|
|0d86485d0f88d1f9d...|1-97c2742b68c7b07...|    4|    null|      null|       71|    null| null|       null|1547808731918|    236|
|0d86485d0f88d1f9d...|1-eefb903dbe45746...|   19|      11|acceptable|     null|      75| null|         86|1547808738999|   null|
|0d86485d0f88d1f9d...|1-5f68b4c72813c25...|    7|    null|      null|       75|    null| null|       null|1547808740927|    235|
|0d86485d0f88d1f9d...|1-cd4b6c57ddbe77e...|    5|    null|      null|     null|    null| 1014|       null|1547808744923|   null|
|0d86485d0f88d1f9d...|1-a35b25b5bf43aaf...|   32|      11|acceptable|     null|      73| null|         84|1547808752028|   null|
|0d86485d0f88d1f9d...|1-b717f7289a8476d...|   48|      11|acceptable|     null|      79| null|         84|1547808768065|   null|
|0d86485d0f88d1f9d...|1-c2f1f8fcf178b2f...|   18|    null|      null|       73|    null| null|       null|1547808773944|    228|
|0d86485d0f88d1f9d...|1-15033dd9eebb4a8...|   59|      11|acceptable|     null|      72| null|         96|1547808779093|   null|
|0d86485d0f88d1f9d...|1-753dae825f9a6c2...|   62|      11|acceptable|     null|      73| null|         88|1547808782113|   null|
|0d86485d0f88d1f9d...|1-b168089f44f03f0...|   13|    null|      null|     null|    null| 1097|       null|1547808784940|   null|
|0d86485d0f88d1f9d...|1-403b687c6be0dea...|   23|    null|      null|       80|    null| null|       null|1547808788955|    236|
|0d86485d0f88d1f9d...|1-195551e0455a24b...|   72|      11|acceptable|     null|      77| null|         87|1547808792134|   null|
|0d86485d0f88d1f9d...|1-060a39fc6c2ddee...|   26|    null|      null|       62|    null| null|       null|1547808797959|    233|
|0d86485d0f88d1f9d...|1-2234514bffee465...|   27|    null|      null|       61|    null| null|       null|1547808800960|    226|
|0d86485d0f88d1f9d...|1-4265898bb401db0...|   82|      11|acceptable|     null|      79| null|         96|1547808802154|   null|
|0d86485d0f88d1f9d...|1-2fbf7ca9a0425a0...|   94|      11|acceptable|     null|      73| null|         90|1547808814186|   null|
|0d86485d0f88d1f9d...|1-203c0ee6d7fbd21...|   97|      11|acceptable|     null|      77| null|         88|1547808817190|   null|
|0d86485d0f88d1f9d...|1-47e1965db94fcab...|  104|      11|acceptable|     null|      75| null|         80|1547808824198|   null|
+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
only showing top 20 rows

In [22]:
result = spark.sql("select voltage from washing where voltage is not null").show()

+-------+
|voltage|
+-------+
|    236|
|    235|
|    228|
|    236|
|    233|
|    226|
|    235|
|    220|
|    225|
|    239|
|    230|
|    236|
|    244|
|    235|
|    234|
|    224|
|    225|
|    223|
|    236|
|    226|
+-------+
only showing top 20 rows